html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

:root {
    --font-title: 2rem;
    --font-subtitles: 1.25rem;
    --font-subsubtitles: 1.125rem;
    --font-normal: 1rem;
    --font-footer: 0.625rem;

    --font-weight-title: 800;
    --font-weight-subtitles: 600;
    --font-weight-subsubtitle: 400;
    --font-weight--normal: 500;

    --form-items-margin-bottom: 0.625rem;
    --form-sections-margin-bottom: 2rem;
    --form-inputs-margin-left: 2rem;

    --form-labels-width: 9rem;
    --form-inputs-width: 3.5rem;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Header ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
header {
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "h1 h5";
}

header h1 {
    grid-area: h1;
    font-size: var(--font-title);
    font-weight: var(--font-weight-title);
    text-transform: uppercase;
}

header h1 span {
    text-transform: none;
}

header h5 {
    grid-area: h5;
    font-size: var(--font-normal);
    font-weight: var(--font-weight--notmal);
    text-align: right;
}
/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Aside /////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
aside {
    grid-area: aside;
}

aside h2 {
    font-size: var(--font-subtitles);
    font-weight: var(--font-weight-subtitles);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

aside h3 {
    font-size: var(--font-subsubtitles);
    font-weight: var(--font-weight-subsubtitle);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

aside #section-body-physical-data {
    font-size: var(--font-normal);
    font-weight: var(--font-weight--normal);
    margin-bottom: var(--form-sections-margin-bottom);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    "label-sex label-sex select-sex"
    "label-age input-age unit-age"
    "label-weight input-weight unit-weight"
    "label-height input-height unit-height"
    ;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Section Body Physical Data ///////////////// */
/* /////////////////////////////////////////////////////////////// */
section label#label-sex {
    grid-area: label-sex;
}

section select#select-sex {
    grid-area: select-sex;
}

section label#label-sex,
section select#select-sex,
section label#label-age,
section input#input-age,
section label#label-age-unit,
section label#label-weight,
section input#input-weight,
section label#label-weight-unit {
    margin-bottom: var(--form-items-margin-bottom);
}

section label#label-sex {
    width: 12.75rem;
}

section label#label-age,
section label#label-weight,
section label#label-height {
    width: var(--form-labels-width);
}


section input#input-age,
section input#input-weight,
section input#input-height {
    width: var(--form-inputs-width);
    margin-left: var(--form-inputs-margin-left);
}

section label#label-age {
    grid-area: label-age;
}

section input#input-age {
    grid-area: input-age;
}

section label#label-age-unit {
    grid-area: unit-age;
}

section label#label-weight {
    grid-area: label-weight;
}

section input#input-weight {
    grid-area: input-weight;
}

section label#label-weight-unit {
    grid-area:  unit-weight;
}

section label#label-height {
    grid-area: label-height;
}

section input#input-height {
    grid-area: input-height;
}

section label#label-height-unit {
    grid-area:  unit-height;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Main //////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
main {
    grid-area: main;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Footer ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
footer {
    grid-area: footer;
    font-size: var(--font-footer);
}