<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMR</title>
</head>
<body>
    <h1>Enter Your Quantitative Data</h1>
    <form action="" method="post">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" required>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" required>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>
        <label for="time">Weeks:</label>
        <input type="text" id="time" name="time" required>
        <button type="submit" id="calculate">Calculate</button>
    </form>
    
    <table id="table">
        <th>Message</th>
        <td>{{ msg }}</td>
        <!--{% for item in msg %}
            <tr>
                <td>{{ item }}</td>
            </tr>
        {% endfor %}-->
      </table>
</body>
<script>
    document.getElementById("calculate").addEventListener('submit', function() {
        fetch('/calculate')
            .then(response => response.json())
            .then(data => {
                document.getElementById('table').td = data.message;
            });
    });
</script>
</html>
