<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Data Entry</h1>
    <form id="dataForm">
        <label for="weight">Weight (lbs):</label>
        <input type="text" id="weight" name="weight" placeholder="weight > 0" required>
        <label for="height">Height (inch):</label>
        <input type="text" id="height" name="height" placeholder="height > 0" required>
        <label for="age">Age (years):</label>
        <input type="text" id="age" name="age" placeholder="age > 19" required>
        <label for="time">Weeks:</label>
        <input type="text" id="time" name="time" placeholder="0 < weeks < 52" required>
        <button type="submit">Calculate</button>
        <button type="reset">Clear</button>
    </form>

    <h2>Input Data</h2>
    <table id="inputDataTable">
        <thead>
            <tr>
                <th>Weight (lbs)</th>
                <th>Height (inch)</th>
                <th>Age (years)</th>
                <th>Time (weeks)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Output Data</h2>
    <table id="outputDataTable">
        <thead>
            <tr>
                <th>Week</th>
                <th>Weight (lbs)</th>
                <th>Daily BMR to Keep Weight (cal)</th>
                <th>Daily BMR to Loose 2 Pounds (cal)</th>
                <th>Weekly BMR to Keep Weight (cal)</th>
                <th>Weekly BMR to Loose 2 Pounds (cal)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>